@model IEnumerable<DealRated.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">All Category Details</h1>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</p>
<hr />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a>  |
                    <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
